services:
  postgres:
    container_name: "battlegrounds-postgres"
    image: postgres:15
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    container_name: "battlegrounds-redis"
    image: redis:7
    ports:
      - "${REDIS_PORT}:6379"

volumes:
  postgres_data: